

body {
  /*font: normal 1em 'font';*/
background-color: #fff;
    background-image: url(bg3.jpg);
}

main {
/*  margin-top: 4.5em; */
}
#section1 {
  height: 0em;
}


/* Multi-Step Form */
* {
  box-sizing: border-box;
}

#regForm {
  background-color: #fff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 600px;
}

h1 {
  text-align: center;  
  font-size: 1.5rem;
}

input {
  padding: 10px;
  width: 30px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that get errors during validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  padding: 20px;
}

button {
  background-color: #4ca2ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
   border-radius: 10px;
}

button:hover {
  background-color: #004085;
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}


.checkbox {
    border: 1px solid;
    width: 50%;
    padding: 5px;
    background-color: #ec7388;
    font-size: 22px;
    margin-left: 25%;
    text-align: center;
    color: white;
    border-radius: 10px;

}
.checkbox:hover {
    border: 1px solid;
    text-align: center;
    width: 50%;
     margin-left: 25%;
    padding: 5px;
    background-color: #da3754;
    font-size: 22px;
    color: white;
    border-radius: 10px;

}

.showme
{
  display: none;
}

.vis {

}

input[type=checkbox], input[type=radio] {
  display:none;
}

@media only screen and (max-width: 720px) { 

body {
  /*font: normal 1em 'font';*/
background-image: url(bg3.jpg);
}

main {
/*  margin-top: 4.5em; */
}
#section1 {
  height: 0em;
}


/* Multi-Step Form */
* {
  box-sizing: border-box;
}

#regForm {
  background-color: #fff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 0px;
  min-width: 100%;
  padding-bottom: 10px;
  
}

h1 {
  text-align: center;  
  font-size: 1.5rem;
}

input {
  padding: 10px;
  width: 30px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that get errors during validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  padding: 20px;
}

button {
  background-color: #4ca2ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
   border-radius: 10px;
}

button:hover {
  background-color: #004085;
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}


.checkbox {
    border: 1px solid;
    width: 100%;
    padding: 5px;
    background-color: #ec7388;
    font-size: 22px;
    margin-left: 0%;
    color: white;
    border-radius: 10px;

}
.checkbox:hover {
    border: 1px solid;
    width: 100%;
     margin-left: 0%;
    padding: 5px;
    background-color: #da3754;
    font-size: 22px;
    color: white;
    border-radius: 10px;

}

.showme
{
  display: none;
}

.vis {

}
}

.showme
{
  display: none;
}

.vis {

}

.pgtitle {
  font-size: 22px;
  font-weight: 700;
  text-align: center;

}

.hideme {
    display:none;
}



